* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 30px 0; 
  background-color: rgb(48, 46, 46);
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.slider-wrapper {
  display: flex;
  justify-content: center; 
}

.slide {
  max-width: 100%;
  max-height: 700px;
  border-radius: 10px; 
}

.slider-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-desc-wrapper {
  max-width: 600px;
  overflow: hidden;
}

.slide-description {
  font-size: 2.5rem;
  color: #ffffff;
}

@media (max-width: 780px){
  .slider-details {
    flex-direction: column;    
  }

  .slide-desc-wrapper {
    height: 110px;
  }
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(75, 75, 155);
  border: 2px solid rgb(75, 75, 155);
  cursor: pointer;
  border-radius: 50%;
  margin-right: 15px;
  transition: background-color 1s, border 1s;
}

.active {
  background-color: transparent;
  cursor: auto;
}

.dot:hover.active:hover {
  background-color: transparent;
  /* border: 2px solid rgb(75, 75, 155); */
}

.dot:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.slidein {
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.opacityoff {
  animation-duration: 1s;
  animation-name: opacityoff;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
}

@keyframes opacityoff {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }

}
